@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.app-container {
    width: 500px !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: white !important;
    padding: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5 !important;
    height: 90vh !important;
}

@media (max-width: 768px) {
    .app-container {
        padding: 2rem !important;
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
}