body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  padding: 40px !important;
  box-sizing: border-box !important;
  background-image: url("./assets/image/note-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
    body div#root {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
    }
}
